header {
    background-color: #704646;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgb(255, 255, 255);
}
 nav ul li a {
    color: white;
 }